@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



main {
    width: 100%;
    height: 100%;
}
.title {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #cccc;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    color: black;
    background-color: white;
}

.info-container {
    height: 20%;
    width: 100%;
    display: flex;
    background-color: white;
    margin-top: 5px;
}

.left-side-l {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.right-side-r {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.right-side-r > p {
    text-align: center;
    font-size: 15px;
    background-color:#3f41ff;
    border-radius: 4px;
    padding: 5px;
    width: 30%;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.map-container {
    margin-top: 5px;
    width: 100%;
    height: 74%;
}

iframe {
    width: 100%;
    height: 100%;
}

.comments-section {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px ;
}

.card-c {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 110px;
}

.card-header{
    height: 50%;
}

.card-body {
    width: 100%;
    height: 50%;
    padding: 10px;
    overflow: scroll;
}

#comment-form {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

#comment-form > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#comment-form > button {
    background-color: transparent;
    border: none;
}
#comment-form > button > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


#comment-form > input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cccc;
}
#comment-form > input:focus {
    outline: none;
}